@charset "UTF-8";

html {
    font-size: 100%;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

.container  {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 4%;
    text-align: center;
}

.section-title {
    display: inline-block;
    border-bottom: 1px solid #000;
    margin-bottom: 60px;
    font-size: 2rem;
    font-weight: bold;
}
.content-title {
    margin: 10px 0;
    font-weight: bold;
}

.site-title {
    width: 120px;
    padding: 10px;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav {
    display: flex;
}
.header-nav li {
    margin-left: 30px;
}

#main-visual {
    margin-bottom: 80px;
}
#main-visual img {
    height: 600px;
    width: 100%;
    max-width: 1920px;
    object-fit: cover;
}

#about {
    margin-bottom: 100px;
}
#about img {
    width: 100px;
    border-radius: 50%;
}
.about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
#about img {
    margin-right: 30px;
}
.about-text {
    text-align: left;
}

#bicycle {
    margin-bottom: 100px;
}
.bicycle-wrapper {
    display: flex;
    justify-content: space-between;
}
.bicycle-image {
    margin-left: 30px;
}


footer {
    font-size: 0.625rem;
    padding: 10px 0;
    text-align: center;
}

@media (max-width: 600px) {
    #main-visual img {
        height: calc(100vh - 60px);
    }
    .about-wrapper {
        flex-direction: column;
    }
    #about img {
        margin-right: 0;
    }



    .bicycle-wrapper {
        flex-direction: column;
    }
    .bicycle-image{
        margin-bottom: 30px;
    }
}
